# Python 字节码缓存
__pycache__/
*.py[cod]
*$py.class

# 运行结果文件夹 (防止成百上千张对比图塞满 GitHub)
qdgp_results/
qdgp_vgg_results/
qdgp_high_res_results/

# 操作系统临时文件
.DS_Store
Thumbs.db

# 虚拟环境
venv/
.venv/
env/

# 编辑器配置
.vscode/
.idea/
.obsidian/